@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

/* For small devices (e.g., max width 768px) */
@media (max-width: 768px) {
  .animate-scroll {
    animation: scroll 3s linear infinite;
  }
}
